//SASS RULESETS
$color-red: #9C4031;
$color-blue: #72C2BE;
$font-heading: 'Nunito', sans-serif;

//START
* {
    margin: 0;
    padding: 0;
}
body {
	background: #010101;
	width: 100%;
}
main {

	nav {
		font-family: $font-heading;
		position: absolute;
		z-index: 5;
		top: 50%;
		left: 20%;
		transform: translate(-50%,-50%);
		overflow: hidden;
		ul {
			list-style-type: none;
			li {
				width: 100%;
				a {
					color: white;
					text-decoration: none;
					font-size: 5rem;
					text-align: center;
					letter-spacing: 8px;
					text-shadow:-2px -2px 0 #72C2BE, 2px 2px 0 #9C4031;
				}
			}
		}
	}
	.landing-image {
		width: 100vw;
		height: 85vh;
		background-image: url(IMAGES/landingimg.png);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: bottom;
		background-size: cover;
		position: relative;
		z-index: 1;
		overflow: hidden;
	}
	.crowd-image {
		width: 100vw;
		height: 100vh;
		background-image: url(IMAGES/upper.png);
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: cover;
		position: absolute;
		bottom: 10%;
		z-index: 3;
		overflow: hidden;
		//filter: brightness(0%);
	}
	.fog-image {
		width: 100vw;
		height: 100vh;
		background-image: url(/AIKO/IMAGES/clouds.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 0%;
		opacity: 0.25;
		z-index: 3;
		overflow: hidden;
	}
}
//BIO PAGE
.bio {
	height: 100vh;
	width: 100vw;
	position: relative;
	p {
		color: #FB4264;
		line-height: 9vw;
  		text-shadow: 0 0 3vw #F40A35;
	}
	div {
		position: absolute;
		top: 90%;
		width: 334px;
		height: 333px;
		background-color: red;
	}
}