//SASS RULESETS
$color-red: #9c4031;
$color-blue: #72c2be;
$color-black: #000;
$color-white: #fff;
$font-heading: "Playfair Display";
$font-text: "Lora";

//START
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background: $color-black;
  overflow-x: hidden;
}
.landing-page {
  width: 100%;
  height: 100vh;
  background-image: url(images/landingimg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .header {
    position: absolute;
    z-index: 10;
    .navbar {
      position: fixed;
      top: 3rem;
      right: 2rem;
      width: 3.5rem;
      height: 0.5rem;
      border-top: 3px solid $color-white;
      border-bottom: 3px solid $color-white;
    }
  }
  .crowd-image {
    width: 100%;
    height: 100vh;
    background-image: url(images/upper.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.bio-page {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  overflow: hidden;
  h1 {
    color: $color-white;
    font-family: $font-heading;
    font-size: 9.5rem;
    font-weight: normal;
  }
  .box {
    margin-top: 10vh;
    display: flex;
    img {
      order: 2;
      width: 500px;
      z-index: 5;
    }
    p {
      order: 1;
      width: 50%;
      color: $color-white;
      font-family: $font-text;
      font-size: 1.7rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      line-height: 2.8rem;
    }
  }
  .box:nth-of-type(odd) {
    img {
      order: 1;
    }
    p {
      margin-left: auto;
      margin-right: auto;
      order: 2;
    }
  }
}

.vids-page {
	margin-top: 20vh;
	width: 100%;
  display: flex;
	.vids-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    iframe {
      width: 400px;
      height: 400px;
    }
    iframe:nth-of-type(odd) {
      width: 300px;
      height: 300px;
    }
	}
}

.gigs-page {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  overflow: hidden;
  .gigs-row {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    color: $color-white;
    font-family: $font-text;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
    border-top: 1px solid #8080802c;
    border-bottom: 1px solid #8080802c;
    transition: 0.25s;
    .content-middle {
      display: flex;
      flex-direction: column;
      span:nth-of-type(1) {
        font-size: 1.6rem;
      }
      span:nth-of-type(2) {
        font-size: 1rem;
      }
    }
    a {
      text-decoration: none;
      color: $color-white;
    }
  }
  .gigs-row:hover {
    border-top: 1px solid #eeeeee2c;
    border-bottom: 1px solid #eeeeee2c;
  }
}

.shop-page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .buy-hover {
    transition: 0.25s;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: $color-white;
    font-family: $font-text;
    display: flex;
    flex-direction: column;
    .album-cover {
      width: 400px;
      height: 400px;
      background-image: url(images/album.png);
      background-size: cover;
      background-position: center;
      text-align: center;
    }
    .pricing {
      width: 400px;
      margin-top: 0.5rem;
      display: flex;
      justify-content: space-between;
      font-size: 1.5rem;
    }
    .order-button {
      text-decoration: none;
      color: $color-white;
      font-size: 1.6rem;
      margin-left: auto;
      margin-right: auto;
      padding: 15px 25px;
      border: 2px solid $color-white;
      margin-top: 2rem;
      transition: 0.25s ease;
    }
    .order-button:hover {
      color: $color-black;
      background-color: $color-white;
    }
  }
}
//RESPONSIVE
@media (min-width: 320px) and (max-width: 480px) {
  .landing-page {
    background-position: center top;
    background-size: cover;
    .crowd-image {
      background-position: 15% 90%;
      background-size: cover;
    }
  }

  .bio-page {
    width: 90%;
    height: 390vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    overflow: hidden;
    h1 {
      color: $color-white;
      font-family: $font-heading;
      font-size: 3rem;
      font-weight: normal;
      z-index: 6;
      margin-bottom: -10vh;
    }
    .box {
      margin-top: -10vh;
      display: flex;
      flex-direction: column;
      img {
        order: 1;
        width: 90%;
        z-index: 5;
        opacity: 0.6;
      }
      p {
        z-index: 6;
        order: 2;
        width: 90%;
        color: $color-white;
        font-family: $font-text;
        font-size: 1.3rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 2rem;
      }
    }
    .box:nth-of-type(odd) {
      img {
        order: 1;
      }
      p {
        margin-left: auto;
        margin-right: auto;
        order: 2;
      }
    }
  }

  .vids-page {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    .vids-wrapper {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      iframe {
        width: 95%;
        height: 400px;
      }
      iframe:nth-of-type(odd) {
        width: 95%;
        height: 400px;
      }
    }
  }
  
  .gigs-page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    overflow: hidden;
    .gigs-row {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: 0.8rem;
      text-align: center;
      .content-middle {
        span:nth-of-type(1) {
          font-size: 1.2rem;
        }
        span:nth-of-type(2) {
          font-size: 0.6rem;
        }
      }
    }
  }

  .shop-page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    .buy-hover {
      width: 280px;
      margin-left: auto;
      margin-right: auto;
      color: $color-white;
      font-family: $font-text;
      display: flex;
      flex-direction: column;
      .album-cover {
        width: 280px;
        height: 280px;
        background-image: url(images/album.png);
        background-size: cover;
        background-position: center;
      }
      .pricing {
        width: 280px;
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
      }
      .order-button {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}