* {
  margin: 0;
  padding: 0;
}

body {
  background: #010101;
  overflow-x: hidden;
}

main {
  /* ANIMATION */
}

main .nav-bar {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100vw;
  height: 100vh;
  z-index: 8;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
}

main .nav-bar ul {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

main .nav-bar ul li {
  margin: 2rem;
}

main .nav-bar ul li a {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  font-family: sans-serif;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main .nav-bar ul li a:hover {
  color: #72C2BE;
}

main .menu-btn {
  position: fixed;
  top: 5%;
  right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  z-index: 9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .menu-btn__burger {
  width: 4rem;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .menu-btn__burger::before,
main .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 4rem;
  height: 3px;
  background: #fff;
  border-radius: 3px;
}

main .menu-btn__burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

main .menu-btn__burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

main .menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

main .menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

main .menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

main .scroll-indie-container {
  opacity: 1;
}

main .scroll-indie-container .scroll-indie {
  width: 20px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #72C2BE;
  margin: auto;
  position: absolute;
  top: 85%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 7;
  overflow: hidden;
}

main .scroll-indie-container .scroll-indie .dot {
  margin: auto;
  position: absolute;
  top: 140%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-animation: slide-top 3.5s ease-in-out infinite both;
          animation: slide-top 3.5s ease-in-out infinite both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
}

main .scroll-indie-container .dissapear {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

main .landing-image {
  width: 100vw;
  height: 85vh;
  background-image: url("/IMAGES/landingimg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  position: relative;
  overflow: hidden;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

main .crowd-image {
  width: 100vw;
  height: 100vh;
  background-image: url("/IMAGES/upper.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: absolute;
  bottom: 10%;
  z-index: 1;
  overflow: hidden;
}

main .fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  opacity: 0.85;
}

main .fog-container .fog-img {
  position: absolute;
  top: 0;
  bottom: 100%;
  height: 100vh;
  width: 300vw;
  z-index: 6;
}

main .fog-container .fog-img-first {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.4))), url("/IMAGES/fog-1.png");
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4)), url("/IMAGES/fog-1.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  -webkit-animation: marquee 130s linear infinite;
          animation: marquee 130s linear infinite;
}

main .fog-container .fog-img-second {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000)), url("/IMAGES/fog-2.png");
  background: linear-gradient(to bottom, transparent, #000), url("/IMAGES/fog-2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  -webkit-animation: marquee 65s linear infinite;
          animation: marquee 65s linear infinite;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-200vw, 0, 0);
            transform: translate3d(-200vw, 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-200vw, 0, 0);
            transform: translate3d(-200vw, 0, 0);
  }
}

.bio {
  margin-top: 40vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

.bio .bio-wrapper {
  width: 75%;
  height: 90%;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bio .bio-wrapper .text {
  color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
}

.bio .bio-wrapper .text-left {
  margin-bottom: auto;
}

.bio .bio-wrapper .text-right {
  margin-top: auto;
}

.bio .bio-wrapper .bio-img-one {
  min-width: 30%;
  min-height: 75%;
  max-width: 30%;
  max-height: 75%;
  background-image: url("/IMAGES/bio-img-one.JPG");
  background-position: center;
  background-size: cover;
  margin-top: auto;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.bio .bio-wrapper .title {
  color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  margin-bottom: auto;
  margin-top: auto;
  font-size: 2rem;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  letter-spacing: 0.3rem;
}

.bio .bio-wrapper .bio-img-two {
  min-width: 30%;
  min-height: 75%;
  max-width: 30%;
  max-height: 75%;
  background-image: url("/IMAGES/bio-img-two.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: auto;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
/*# sourceMappingURL=style.css.map */